<a href="https://colab.research.google.com/github/SinghReena/MachineLearning/blob/master/1_python_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## I. Introduction to Python

# II. Getting Started:

### a. Use Python as a Calculator: 

One of the simplest ways to start off with Python is to run Python as an interpreter. By running Python this way, it is very similar to the way you would use a calculator. In the interpreter, you type a command, and Python produces the answer. You can repeat that same process and it will produce an answer.

In [ ]:
#Run this cell

1 + 8 * 6 - 4

45

Just like with a calculator, with Python there are <u><b>Arithmetic Operators</b></u> you're allowed to use.
<ul>
    <li> <b>Addition( + )</b></li>
    <ul>
        <li> Adds values on either side of the operator </li>
    </ul>
    <li> <b>Subtraction( - )</b></li>
    <ul>
        <li> Subtracts right hand operand from left hand operand </li>
    </ul>
    <li> <b>Multiplication ( &#42; )</b></li>
    <ul>
        <li> Multiplies values on either side of the operator </li>
    </ul>
    <li> <b>Division ( / )</b></li>
    <ul>
        <li> Divides left hand operand by right hand operand</li>
    </ul>
    <li> <b>Modulus( % )</b></li>
    <ul>
        <li> Divides left hand operand by right hand operand and returns remainder </li>
    </ul>
    <li> <b>Exponent ( ** )</b></li>
    <ul>
        <li> Performs exponential (power) calculation on operators </li>
    </ul>
    <li><b>Floor Division( // )</b></li>
    <ul>
        <li>The division of operands where the result is the quotient in which the digits after the decimal point are removed. But if one of the operands is negative, the result is the floor value.</li>
   </ul>

<br><br>
<b>Below is a cell where you can try out any or all of the Arithmetic Operators. See if it works just like a calculator.</b>

In [ ]:
print(15//2)
print(-15//2)

7
-8

In [ ]:
print(-15/2)

import math
print(math.floor(-15/2))

-7.5
-8

# III. Variable Types

You can think of variables as reserved memory locations. In order to reserve something to that memory location, you must assign a value to that variable. To properly execute that action, use the equal sign ( <b>=</b> ). On the left of that equal sign is the name of the variable and on the right of that equal sign is it the value store in the variable.
<br><br>
<b>If you run the cell below, what do you think it is going to print out? Try it out for yourself!</b>

In [ ]:
#Run this cell

b = 1868346546765756
b

1868346546765756

Any type of value can be assigned to any valid variable.

Now that we've gotten familiar with variables and values, what kind of values can we assign to the variables? What kind of data types?

Python has five standard <u><b>Data Types</u></b> :
<ul>
    <li><b>Numbers</b></li>
    <ul>
        <li>These data types store numeric values.</li>
    </ul>
    <li><b>String</b></li>
    <ul>
        <li>This data type is a list of characters in order. A string can be defined as anything <u>between quotation marks</u>. </li>
    </ul>
    <li><b>List</b></li>
    <ul>
        <li>A list contains items separated by commas and enclosed within square brackets ( [] ).</li>
    </ul>
    <li><b>Tuple</b></li>
    <ul>
        <li>This data type is similar to the list data type. A tuple has a number of values separated by commas. Unlike lists, however, tuples are enclosed within parentheses. A tuple can not be changed in any way once it is created.</li>
    </ul>
    <li><b>Dictionary</b></li>
    <ul>
        <li>A dictionary as an unordered set of key: value pairs, with the requirement that the keys are unique (within one dictionary). If this data type is still confusing try this resource to learn more about how to use dictionaries : https://tinyurl.com/lnhe29p</li>
    </ul>
</ul>

## a. Numbers

Python supports four different numerical types −
<ul>
<li><b>int</b> (signed integers)</li>

<li><b>long</b> (long integers)</li>

<li><b>float</b> (floating point real values)</li>

<li><b>complex</b> (complex numbers)</li>
</ul>

In python 2, the maximum `int` value can be found by `sys.maxint`

In python 3, `int` is unbounded.

In [ ]:
i = 1234.56789
type(i)

float

### i. Convert Data Types

We can convert between different data types by using different type conversion functions like int(), float(), etc.


Convert variable "i" into an integer.

In [ ]:
i = int(i)
i

1234

Check data type.

In [ ]:
type(i)

int

In [ ]:
16/2

8.0

In [ ]:
int(16/2)

8

## b. Strings

Strings can be enclosed in single quotes ( <b>'</b>YOUR TEXT HERE<b>'</b> ) or double quotes ( <b>"</b>YOUR TEXT HERE<b>"</b> ) with the same result. You can change what is inbetween the quotes to print out what you'd like.

In [ ]:
#Run this cell

cal = 'US got its independece in 1776.'
cal

'US got its independece in 1776.'

### i. Length of a string

In [ ]:
len(cal)

31

<i><b>* Note</b>: Length of a string counts every character in the string, including the spaces.</i>

### ii. Tricky string issues.

<b>2021</b> VS <b>"2021"</b>

In [ ]:
s = "2021"

n = 2021

n + 10

2031

In [ ]:
s+10

TypeError: ignored

In [ ]:
s + "10"

<b>Can you add 10 to s? Why or why not? <br><br></b>
<i>Always check data type if you are unsure of data type</i>

In [ ]:
4+4.5

In [ ]:
#What would this output?

s + 10

<h3> iii. Indexing</h3><br>
<b>How to access characters in a string?</b><br>



<img src = "https://www.python-course.eu/images/positive_and_negative_indices_of_strings.png">



We can access characters in a string by indexing. Indexing start from 0, therefore, at index 0 you would get the first character in the string. To get the last character in the string you use index -1. If you try to access an index out of the range or use a decimal number(must be an integer), you will get errors. The largest index in each string is the amount of characters minus 1 (length - 1). Spaces are counted. To get the index of the string, type the variable assigned to that string and then brackets with the integer of the index in the inside. If you want to print only certain parts of the string you can index from one index to the other using a colon ( : ) between the integers. You can also step over a certain number a characters. You won't always need a start, end, and step.

 <h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 1:</h1></font>

Now that you know how to index, print the following strings, by indexing the variable "box".<br>
<ol>
<b>1) "World"<br><br>
2) "llo Wor"<br><br>
3) "eood"</b>
</ol>

In [ ]:
#Run this cell
box = "Hello World"

In [ ]:
#1 
box[-5:]

In [ ]:
#2
box[-9:-2]

In [ ]:
#3
box[1:11:3]

**Exercise** Print the string in reverse

In [ ]:
# 4
box[::-1]

In [ ]:
box[-1::-1]

<h3> iv. Concatenation </h3><br>
Concatenation could be thought as the combination of strings. The new string that is created is referred to as a string object. You cannot concatenate a string and an integer because they are separate object types. You will get an error. If you want to merge the two, you must first convert the integer to a string. To do that you use the syntax : <i><b>str(YOUR TEXT HERE).</i></b>

<b> Merge Multiple Strings Together</b><br>
To merge multiple strings together you could use the Addition Operator ( + ), this will merge the strings into a single object. 
<br><br><br>
<font color = "coral"><b> * Concatenate the variables below to create string </font><b>'Hello World, The US got independence in 1776'

In [ ]:
string1 = "Hello World, "
string2 = 'The US got independence in '
int1 = 1776

string1+string2+str(int1)

 <h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 2:</h1></font>

<font color = "coral">Print the following object, given the variables below. Remember that spaces count.<br><br>
<center><b>"The Python for Data Science course is 9 weeks long."</b></center>

In [ ]:
var1 = " weeks long."
var2 = "The Python for Data Science course is"
var3 =  9 
var2 +' '+str(var3)+var1
# Concatenate the variables to get the string above.

## c. List

List is a built-in type in Python. Lists are very similar to strings, but instead you use square brackets ( [ ] ) to access the data. Indexing works the same as with strings, but now instead of indexing for each character, you are indexing to get each item in the list. Try it out with the list below. lst1 is a list of strings. Try to index out different items in the list and see how similar it is to indexing in strings.

In [ ]:
#Run this cell

lst1 = ["fuhsd", "FUHSD", "AdultSchool", "FUHSD_AS"]
lst1

['fuhsd', 'FUHSD', 'AdultSchool', 'FUHSD_AS']

### i. Indexing

In [ ]:
#Try indexing

lst1[0]

'fuhsd'

In [ ]:
lst1[0][2]

'h'

#### Get index of an item in the list

In [ ]:
lst2 = ["fuhsd", "FUHSD", "AdultSchool", "FUHSD_AS", "fuhsd", "FUHSD_AS"]
lst2.index("FUHSD_AS")

3

In [ ]:
lst2[lst2.index("FUHSD_AS")][4]

'D'

In [ ]:
lst2.index("Hello")

ValueError: ignored

### ii. Length of list

SYNTAX: 
> <code><b>len(</b>"YOUR_LIST_HERE"<b>)

In [ ]:
len(lst1)

4

### iii. Combining Lists

In [ ]:
list(range(10))
list(range(10,20))
list(range(10,20,2))

[10, 12, 14, 16, 18]

In [ ]:
#Method 1
lst2 = list(range(10))
lst3 = list(range(100,110))

ex = lst2 + lst3
ex

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109]

In [ ]:
#Method 2
lst2 = list(range(10))
lst3 = list(range(100,120))

lst2.extend(lst3)
lst2

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119]

In [ ]:
# Append
lst2 = list(range(10))
lst3 = list(range(10,20))
#append will add one element
lst2.append(lst3)
lst2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]]

In [ ]:
# Insert
lst2 = list(range(10))
lst3 = list(range(10,20))
#insert new element to the older

lst2.insert(2,lst3)
lst2

[0, 1, [10, 11, 12, 13, 14, 15, 16, 17, 18, 19], 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# append using insert()
lst2.insert(len(lst2),lst3)
lst2

[0,
 1,
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]]

#### What is a major difference you immediately notice between the 4 methods?

<ul>
<b>+ </b>: Returns a new (concatenated) list as a value, whereas extend only alters an existing list.<br><br>
<b>extend()</b>: Used to merge two lists or insert multiple elements in one list. Similar to the + operator, but extend is faster, especially for large lists.<br><br>
<b>append()</b>: Updates the list by adding an object to the list. It is basically used in Python to add one element.<br><br>
<b>insert()</b>: Also, updates the list by adding an object to the list. This time, the index of the object insertion is specified.

Before we learn about tuples...

## IMMUTABLE VS MUTABLE

"Everything in Python is an object. And what every newcomer to Python should quickly learn is that all objects in Python can be either mutable or immutable. Simple put, a <b>mutable</b> object can be changed after it is created, and an <b>immutable</b> object can’t.
<ul>
- Immutable are quicker to access than mutable objects.<br><br>
- Mutable objects are great to use when you need to change the size of the object, example list, dict etc.. <br><br>
- Immutables are used when you need to ensure that the object you made will always stay the same.<br><br>
- The “value” of an immutable object can’t change, but it’s constituent objects can.
<ul>- Immutable objects appearing to be modified are actually new object instances being created and assigned onto the existing reference pointer or variable."


</ul></ul>

<br><br>
<img src = "https://cdn-images-1.medium.com/max/1600/1*uFlTNY4W3czywyU18zxl8w.png">

https://medium.com/@meghamohan/mutable-and-immutable-side-of-python-c2145cf72747

## d. Tuple

A tuple is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas in a list, elements can be changed.

BENEFITS:<br>

<ul>
- Faster than lists<br>
- Protect the data, which is immutable<br>
- Tuples can be used as keys on dictionaries</ul>

### i. Creating Tuples<br>
To create a tuple you use parantheses, instead of squared brackets.

In [ ]:
#Run this cell

tup1 = ("fuhsd", "FUHSD", "AdultSchool", "FUHSD_AS")
type(tup1)

You can also create a tuple without the parantheses.

In [ ]:
tup2 = "fuhsd", "FUHSD", "AdultSchool", "FUHSD_AS"
tup2

### ii. Can I index a tuple?<br>
Indexing for tuples is the same as for lists.

In [ ]:
#Run this cell
tup1[0]

#### Get index of an item in the tuple

In [ ]:
tup1.index("fuhsd")

### iii. Concatenating Tuples

Tuples are immutable; you can't change which variables they contain after construction. However, you can concatenate or slice them to form new tuples.

In [ ]:
tup3 = ("Sunnyvale", "California", "West Coast")

In [ ]:
tup1 += tup3
tup1

# Changing Elements in Mutable VS Immutable Objects

In [ ]:
lst1 = [1,2,3,4,5]
tup1 = (1,2,3,4,5)

In [ ]:
lst1[1] = 10
lst1

In [ ]:
tup1[1] = 10

What if the element inside the tuple is mutable?

In [ ]:
lst2 = [1,[2,4,6,8],3,4,5]
tup2 = (1,(2,4,6,8),3,4,5)
tup3 = (1,[2,4,6,8],3,4,5)

In [ ]:
lst2[1][0] = 1
lst2

In [ ]:
tup2[1][0] = 1
tup2

In [ ]:
tup3[1][0] = 1
tup3

In [ ]:
tup[1]=1
tup3

## e. Dictionary

One of Python's built−in datatypes is the dictionary, which defines one−to−one relationships between keys and values.

"Like lists dictionaries can easily be changed, can be shrunk and grown ad libitum at run time. They shrink and grow without the necessity of making copies. Dictionaries can be contained in lists and vice versa. But what's the difference between lists and dictionaries? Lists are ordered sets of objects, whereas dictionaries are <b>unordered sets.</b> But the main difference is that items in dictionaries are accessed via keys and not via their position."

https://www.python-course.eu/dictionaries.php



<br><br>
A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key: value pairs to the dictionary; this is also the way dictionaries are written on output.

In [ ]:
#Run this cell

dict1 = {"fruit" : "orange, watermelon, grape", "vegetable":"onion, mushroom, lettuce"}
dict1

{'fruit': 'orange, watermelon, grape', 'vegetable': 'onion, mushroom, lettuce'}

In [ ]:
dict1["fruit"].remove("grape")
dict1

AttributeError: ignored

Rather than store multiple items as a string, store it as a list.  Then performing operations on the list is easy.

In [ ]:
fridge = {}
fridge["fruit"] = ["orange", "watermelon", "grape"]
fridge["vegetables"]  = ["onion", "mushroom", "lettuce"]

In [ ]:
fridge["fruit"].append("apple")

In [ ]:
fridge

{'fruit': ['orange', 'watermelon', 'grape', 'apple'],
 'vegetables': ['onion', 'mushroom', 'lettuce']}

In [ ]:
fridge['fruit'].remove('grape')
fridge

{'fruit': ['orange', 'watermelon', 'apple'],
 'vegetables': ['onion', 'mushroom', 'lettuce']}

If we had stored multiple elements as a string, then removing an item from the list is cumbersome. Ideally, we will not store this as a string when we create a variable.  But the data source we are working with might include data like this. So we should have to use techniques like what is described below.

First we have to extract the items of the string using `split()`. But this only removes from the copy of the string, not the original dictionary.  So we should then update the dictionary after recreating the string again.

In [ ]:
dict1 = {"fruit" : "orange, watermelon, grape", "vegetable":"onion, mushroom, lettuce"}
;
fruit_list= dict1["fruit"].split(", ")

fruit_list.remove("grape")

print(fruit_list)

['orange', 'watermelon']

In [ ]:
", ".join(fruit_list)
dict1
fruit_list

['orange', 'watermelon']

Let us put this all together.

In [ ]:
fruit_list = dict1["fruit"].split(", ")

dict1["fruit"] = ", ".join(fruit_list)
dict1

{'fruit': 'orange, watermelon', 'vegetable': 'onion, mushroom, lettuce'}

In [ ]:
dict1

{'fruit': 'orange, watermelon, grape'}

### i. Keys

Get the keys from "dict1"

In [ ]:
dict1.keys()

dict_keys(['fruit', 'vegetable'])

### Indexing With Keys?


What happens if you try to run "<b>dict1[0]</b>"? Why?

In [ ]:
dict1["fruit"]

'orange, watermelon, grape'

OR

In [ ]:
dict1.get("fruit")

'orange, watermelon, grape'

### ii.Values

Get the values from "dict1"

In [ ]:
dict1.values()

dict_values(['orange, watermelon, grape'])

### Indexing With Values?
A little more complicated

In [ ]:
l = [1, 2, 3, 4]
for i in l:
  print(i + 10)

11
12
13
14

In [ ]:

V = "orange, watermelon"

for key, value in dict1.items():
    if value == V:
       print(key)

fruit

### iii. Length of Dictionary

Returns the number of stored entries, i.e. the number of (key,value) pairs.

In [ ]:
len(dict1)

2

### iv. Remove key and value

In [ ]:
del dict1['vegetable']
dict1

{'fruit': 'orange, watermelon'}

In [ ]:
dict1

{'flowers': 'lily, rose',
 'fruit': 'orange, watermelon, grape',
 'vegetable': 'onion, mushroom, lettuce'}

### v. Add new value

In [ ]:
dict1["new"] = 2
dict1

{'fruit': 'orange, watermelon', 'new': 2}

In [ ]:
dict1["new"] = 1

### vi. Concatenating Dictionaries
<i>*Note: Keys must be unique</i>

In [ ]:
dict1 = {"fruit" : "orange, watermelon, grape", "vegetable":"onion, mushroom, lettuce"}
dict2 = {"flowers" : "lily, rose"}
dict1.update(dict2)
dict1

{'flowers': 'lily, rose',
 'fruit': 'orange, watermelon, grape',
 'vegetable': 'onion, mushroom, lettuce'}

In [ ]:
# overwrites for existing values
dict1 = {"fruit" : "orange, watermelon, grape", "vegetable":"onion, mushroom, lettuce"}
dict2 = {"fruit": [5,6,7]}
dict1.update(dict2)
dict1

{'fruit': [5, 6, 7], 'vegetable': 'onion, mushroom, lettuce'}

### <font color = "coral">* Create a new dictionary</font>
<font color = "coral">Your keys should be "Country","State","City","ZipCode"

Fill in the values according to the keys.

In [ ]:
#Your code here
new_dict={"Country": "USA, Australia, India"," State": "CA, Texas","City": "Sunnyvale, SFo","ZipCode":"94085,95056"}
new_dict
print(new_dict.keys())
print(new_dict.values())

# LOOPS

## a. RANGE
"In a nutshell, it generates a list of numbers, which is generally used to iterate over with for loops. There's many use cases. Often you will want to use this when you want to perform an action X number of times, where you may or may not care about the index. Other times you may want to iterate over a list (or another iterable object), while being able to have the index available."

Python Central. (2017). Retrieved from http://pythoncentral.io/pythons-range-function-explained/

## b. While V.S. For

## i. WHILE
<img src = "https://www.tutorialspoint.com/python/images/python_while_loop.jpg">

"The while loop is similar to an if statement: it executes the code inside of it if some condition is true. The difference is that the while loop will continue to execute as long as the condition is true. In other words, instead of executing if something is true, it executes while that thing is true."  

Codeacademy. (2017). Retrieved from https://www.codecademy.com/courses/python-beginner-en-cxMGf/0/1?curriculum_id=4f89dab3d788890003000096.

## ii. FOR
<img src = "https://www.tutorialspoint.com/python/images/python_for_loop.jpg">

"The Python for statement iterates over the members of a sequence in order, executing the block each time. Contrast the for statement with the ''while'' loop, used when a condition needs to be checked each iteration, or to repeat a block of code forever. "

Retrieved from https://wiki.python.org/moin/ForLoop.

In [ ]:
#Run this cell

fruit = ["apple", "banana", "orange", "lettuce", "grapes"]

for i in fruit:
        if i == "lettuce":
            print ("lettuce is not a fruit")

lettuce is not a fruit

In [ ]:
fruit = ["apple", "banana", "orange", "lettuce", "grapes"]
lst=[]
for i in fruit:
        if i!= "lettuce":
         lst.append(i)
lst

['apple', 'banana', 'orange', 'grapes']

### a. List Comprehensions (Nested For Loops)

 SAME AS BELOW

In [ ]:
original = list(range(15))
print(original)
squares = [x**2 for x in original]
print(squares)

add_20 = [ x+20 for x in original]
print(add_20)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]
[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]

 SAME AS BELOW

In [ ]:
original = list(range(15))
squares = []
for x in original:
    squares.append(x**2)
print(squares)

# short cut
# squares = [x**2 for x in original]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

#### What is happening in this loop?

In [ ]:
new = []
for x in squares:
    if x < 100:
        new.append(x**2)
new

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]

In [ ]:
new = [i**2 for i in squares if i < 100]
new

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]

### <font color = "coral">Try it out:
<font color = "coral">
Turn this for loop into a nested for list comprehension (Should only be one line).

In [ ]:
mystery = []
for i in range(1000):
    if i%2 ==0:
        mystery.append(int(i/2))
mystery

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499]

In [ ]:
#Your code here

 <h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 3:</h1></font>

<font color = "coral">
Not that you have all this knowledge on different operators, data types, and loops create a loop that removes all the unwanted information from our list.

<b>1) Create a loop where you get rid of all the odd numbers.
<br><br>
2) Put all the numbers in order from smallest to largest.<br><br>
3) Once you only have a list of ordered even numbers convert all these integers into strings.<br><br>
4) Print your updated string. </b>

In [ ]:
lst = [4,6,3,2,6,8,9,7,23,4,465,7,6,8,454,5,876,567,54,76,34,55,
       33,7653,234234,7857,23432,4353,4,345,4667,23235,1212,221,
       335,2323,21,45,76,5432,54645645,123212245346342,67,34563,2]

#Your code here
result=[]
for num in lst:
    if num%2==0:
        result.append(num)

result.sort()

output_string = ''
for num in result:
    output_string = output_string + str(num)

print(result)
print(output_string)

[2, 2, 4, 4, 4, 6, 6, 6, 8, 8, 34, 54, 76, 76, 454, 876, 1212, 5432, 23432, 234234, 123212245346342]
2244466688345476764548761212543223432234234123212245346342

 <h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 4:</h1></font>

<font color = "coral">If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 10,000.

In [ ]:
# Answer using an intermediate list
result=[]
for num in range(10):
    if num%3==0 or num%5==0:
        result.append(num)   
        
result1=sum(result)
    
print(result1)

23

In [ ]:
# Answer without an intermediate list
result=0
for num in range(10000):
    if num%3==0 or num%5==0:
        result=result+num
        
print(result)

23331668

 <h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 5:</h1></font>

<font color = "coral">
Calculate all primes below 10,000. What's their sum?

In [ ]:
#Your answer here

from math import sqrt 
from math import floor

def is_prime(num):
  '''A number is prime if it is divisible by no other number other than 1 and itself.

  We do not need to check the divisibility for all the numbers between 1 and 
  the number. We can limit the search to only upto sqrt(num).
  We can further optimize this by iterating over only the primes. But this 
  version is good enough for now. 
  '''
  if num < 2: return False  # 1 is not a prime
  for i in range(2, floor(sqrt(num)) + 1):
    if num % i == 0:
      return False
  return True

In [ ]:
# Check for a few numbers
print("15: ", is_prime(15))
print("17: ", is_prime(17))
print("4: ", is_prime(4))
print("1: ", is_prime(1))
print("2: ", is_prime(2))

15:  False
17:  True
4:  False
1:  False
2:  True

In [ ]:
primes = [x for x in range(10000) if is_prime(x)]
sum(primes)

5736396