<a href="https://colab.research.google.com/github/SinghReena/MachineLearning/blob/master/5_Exploratory_Analysis_of_Iris_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory Data Analysis with Iris dataset

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

new_df = pd.read_csv(url, header=None)

CSV stands for Comma-Separated-Value file. The data is a text file. The data for each column is separated by a comma.  Sometimes a CSV file's first line has the "header" which is the name for each column.  Other times there is no header.

When we read in the CSV file in pandas, we need to use the optional `header=None` when there is no header in the CSV file.

You can also upload a file from your local machine, or load it from your Google Drive.  See https://colab.research.google.com/notebooks/io.ipynb#scrollTo=RWSJpsyKqHjH for details.

In [ ]:
from google.colab import files
uploaded = files.upload()

TypeError: ignored

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['iris.csv']))

In [ ]:
new_df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [ ]:
new_df.columns = ["sepal length","sepal width","petal length","petal width","species"]
new_df

     sepal length  sepal width  petal length  petal width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

## 1. What does the data look like?

In [ ]:
new_df.head()
new_df.tail()

     sepal length  sepal width  petal length  petal width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

Let us give the columns names.

## 2. What are the individual columns like?

In [ ]:
new_df.describe()

       sepal length  sepal width  petal length  petal width  sepal ratio
count    150.000000   150.000000    150.000000   150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667     1.955144
std        0.828066     0.433594      1.764420     0.763161     0.398697
min        4.300000     2.000000      1.000000     0.100000     1.268293
25%        5.100000     2.800000      1.600000     0.300000     1.551915
50%        5.800000     3.000000      4.350000     1.300000     2.032292
75%        6.400000     3.300000      5.100000     1.800000     2.224910
max        7.900000     4.400000      6.900000     2.500000     2.961538

In [ ]:
np.median(new_df["sepal length"])

5.8

In [ ]:
new_df["sepal width"].mean()

3.0540000000000007

## 3. Let us give names to the columns

In [ ]:
new_df.columns = ["sepal length","sepal width","petal length","petal width","species"]
new_df
#new_df = new_df.rename(columns={'sepal length': 'SL', 'sepal width':'Sw'})
#new_df.head()# important to visualise

     sepal length  sepal width  petal length  petal width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

## 4. What is in the last column?  How many unique species are in the dataset?

In [ ]:
new_df['species']
print(new_df.species.unique())
print(new_df.species.nunique())

['setosa' 'versicolor' 'virginica']
3

## 5.Let us clean up the names of the species a bit. The Species have 'Iris-setosa', 'Iris-virginica' and 'Iris-versicolor' as names.  Can we shorten the names?

In [ ]:
new_df["species"]=new_df['species'].str.replace('Iris-','')
new_df

     sepal length  sepal width  petal length  petal width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
new_df

     sepal length  sepal width  petal length  petal width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## 6. How many elements of each type of species are there?

In [ ]:
new_df.species.value_counts()

virginica     50
setosa        50
versicolor    50
Name: species, dtype: int64

In [ ]:
#new_df[new_df["species"]=='setosa']
#len(new_df[new_df["species"]=='setosa'])

50

## 7. Let us filter out the species and create smaller data frames for each species. How do we do this?

In [ ]:
df_setosa = new_df[new_df["species"]=='setosa']
df_virginica = new_df[new_df["species"]=='virginica']
df_versicolor = new_df[new_df["species"]=='versicolor']
df_setosa

    sepal length  sepal width  petal length  petal width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.1  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.1           1.5          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [ ]:
# verify the value_counts() we saw earlier
len(df_setosa), len(df_virginica), len(df_versicolor)

(50, 50, 50)

## 8. How do we calculate the average petal length for each species?

In [ ]:
print("setosa ", np.average(df_setosa["petal length"]))
print("virginica ", df_virginica["petal length"].mean())
print("versicolor ", np.mean(df_versicolor["petal length"]))

setosa  1.464
virginica  5.552
versicolor  4.26

In [ ]:
print("setosa ", df_setosa["petal length"].min(),  df_setosa["petal length"].max() )
print("virginica ", df_virginica["petal length"].min(),  df_virginica["petal length"].max() )
print("versicolor ", df_versicolor["petal length"].min(),df_versicolor["petal length"].max() )

setosa  1.0 1.9
virginica  4.5 6.9
versicolor  3.0 5.1

We can clearly separate setosa from the other two species.  However, we cannot separate virginica from versicolor because there is an overlap in the ranges of the petal length.

**Exercise**
Check if any of the other features can be used to separate the two species. 

If we cannot use only one feature to separate the species, it is possible that a combination of the features can be used for separation.  These are called *feature crosses* in machine learning.

### Filtering

In [ ]:
(df_virginica["petal length"] > 4.5) & (df_virginica["petal length"] < 5.1)

100    False
101    False
102    False
103    False
104    False
105    False
106    False
107    False
108    False
109    False
110    False
111    False
112    False
113     True
114    False
115    False
116    False
117    False
118    False
119     True
120    False
121     True
122    False
123     True
124    False
125    False
126     True
127     True
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138     True
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146     True
147    False
148    False
149    False
Name: petal length, dtype: bool

In [ ]:
len(df_virginica[(df_virginica["petal length"] > 4.5) & (df_virginica["petal length"] < 5.1)])

8

In [ ]:
len(df_versicolor[(df_versicolor["petal length"].gt(4.5)) & (df_versicolor["petal length"].lt(5.1))])

13

## 9. Create a new column in the original data frame with the ratio of sepal length to sepal width.

In [ ]:
new_df["sepal ratio"] = new_df["sepal length"]/new_df["sepal width"] 
new_df

     sepal length  sepal width  ...    species  sepal ratio
0             5.1          3.5  ...     setosa     1.457143
1             4.9          3.0  ...     setosa     1.633333
2             4.7          3.2  ...     setosa     1.468750
3             4.6          3.1  ...     setosa     1.483871
4             5.0          3.6  ...     setosa     1.388889
..            ...          ...  ...        ...          ...
145           6.7          3.0  ...  virginica     2.233333
146           6.3          2.5  ...  virginica     2.520000
147           6.5          3.0  ...  virginica     2.166667
148           6.2          3.4  ...  virginica     1.823529
149           5.9          3.0  ...  virginica     1.966667

[150 rows x 6 columns]

## 10. What other questions are interesting to you?

## 11. Create a new column for petal length in inches.

Divide cm by 2.54 to get inches

In [ ]:
new_df["PetalLengthInches"] = new_df["PetalLength"] / 2.54

In [ ]:
new_df["sepal ratio"].mean()

1.9551444308694617