<a href="https://colab.research.google.com/github/SinghReena/MachineLearning/blob/master/Class_5_(While_and_For_Loops_Concepts).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 25
while(a < 30):
  print(a) 
  #a = a+1
  if a == 27:
    break
  a += 2

25
27

In [ ]:
i=0
while i < 20:
  i += 1
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
i=1
while(i<10):
  print(i)
  i = i+1
  if i == 4:
    print("Himali")
  else:
    print("BYE BYE")

1
BYE BYE
2
BYE BYE
3
Himali
4
BYE BYE
5
BYE BYE
6
BYE BYE
7
BYE BYE
8
BYE BYE
9
BYE BYE

In [ ]:
name=["Reena","Ruchi","Himali","Medha","Gerry","Miki"]
for m in name:
  print(m)

Reena
Ruchi
Himali
Medha
Gerry
Miki

In [ ]:
for x in "FUHSD":
  print (x)

F
U
H
S
D

In [ ]:
name=["Reena","Ruchi","Himali","Medha","Gerry","Miki"]
for m in name:
  print(m)
  if m == "Gerry":
    break

Reena
Ruchi
Himali
Medha
Gerry

In [ ]:
name=["Reena","Ruchi","Himali","Medha","Gerry","Miki"]
for m in name:
  print(m)
  if m == "Gerry":
    break
  print(m)

Reena
Reena
Ruchi
Ruchi
Himali
Himali
Medha
Medha
Gerry

In [ ]:
name=["Reena","Ruchi","Himali","Medha","Gerry","Miki"]
for m in name:
  if m == "Himali":
    continue
  print(m)

Reena
Ruchi
Medha
Gerry
Miki

In [ ]:
for x in range(3,10,2):
  print(x)

3
5
7
9

In [ ]:
for x in range(11,20,5):
  print(x)

11
16

In [ ]:
for x in range(11,20,5):
  print(x)
else:
  print("Python Programming")

11
16
Python Programming

In [ ]:
adjective=["big","tasty","small"]
fruits=["Mango","Banana"]
for a in adjective:
  for b in fruits:
    print(a,b)

big Mango
big Banana
tasty Mango
tasty Banana
small Mango
small Banana