<a href="https://colab.research.google.com/github/SinghReena/MachineLearning/blob/master/class_4_(Revision_of_Quiz_1%2C2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Welcome to python programming language class
string1="""hdbfdhfjdfj
dnjddckd
djdjdjdd
jdjkdjkdk"""
string1

'hdbfdhfjdfj\ndnjddckd\ndjdjdjdd\njdjkdjkdk'

In [ ]:
city='Los Angeles'
print(city)

Los Angeles

In [ ]:
a=1456
print(a)

1456

In [ ]:
k=12
m=8
total=k+m
print("total",total)

total 20

In [ ]:
x=11
y=67
z=x+y
print("The total of x and y is ",z)

The total of x and y is  78

In [ ]:
Score_4=13
print(Score_4)

13

In [ ]:
4_Score=78
print(4_Score)

SyntaxError: ignored

In [ ]:
_number1=23
_number2=45
multiply=_number1*_number2
print(multiply)

In [ ]:
y=34
Y=100
print(y)
print(Y)

In [ ]:
total=10.2+12.2+0.2
print(total)

In [ ]:
print(type(45.7))

In [ ]:
print(type(100))

In [ ]:
print(type("Gerry"))

In [ ]:
a=56.7
b=int(a)
print(b)

In [ ]:
name=input("Enter your name")
print(name)

In [ ]:
a='6.2'

c=a*3
print(c)

In [ ]:
a=-13//4
print(a)

In [ ]:
a=6+(5*(5*4))

In [ ]:
a=3*(4-5)
print(a)

In [ ]:
3*4-5

In [ ]:
a=2
b=5
print(b**a)

In [ ]:
name="Reena"
print(name)

This is my first Python class