<a href="https://colab.research.google.com/github/SinghReena/MachineLearning/blob/master/Class_14_(Python_Sets).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.1 Sets**

A set is an unordered collection of unique values. Sets may contain only immutable objects, like strings, ints, floats and tuples that contain only immutable elements. Though sets are iterable, they are not sequences and do not support indexing and slicing with square brackets, []. Dictionaries also do not support slicing.

**1.1.1 Create Sets**

The following code creates a set of strings named colors:

In [ ]:
colors = {'red', 'orange', 'yellow', 'green', 'red', 'blue'}

colors

{'blue', 'green', 'orange', 'red', 'yellow'}

Notice that the duplicate string 'red' was ignored (without causing an error). An important use of sets is duplicate elimination, which is automatic when creating a set. Also, the resulting set’s values are not displayed in the same order as they were listed. Though the color names are displayed in sorted order, sets are unordered. You should not write code that depends on the order of their elements.

*Determining a Set’s Length*

You can determine the number of items in a set with the built-in len function:

In [ ]:
len(colors)

5

*Checking Whether a Value Is in a Set*

You can check whether a set contains a particular value using the in and not in operators:

In [ ]:
'red' in colors

True

In [ ]:
'purple' in colors

False

In [ ]:
'purple' not in colors

True

*Iterating Through a Set*

Sets are iterable, so you can process each set element with a for loop:

In [ ]:
for color in colors:
  print(color.upper(), end=' ')

ORANGE RED GREEN BLUE YELLOW

Sets are unordered, so there’s no significance to the iteration order.

*Creating a Set with the Built-In set Function*

You can create a set from another collection of values by using the built-in set function—here we create a list that contains several duplicate integer values and use that list as set’s argument:

In [ ]:
numbers = list(range(10)) + list(range(5))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [ ]:
set(numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

If you need to create an empty set, you must use the set function with empty parentheses, rather than empty braces, {}, which represent an empty dictionary:

In [ ]:
set()

set()

Python displays an empty set as set() to avoid confusion with Python’s string representation of an empty dictionary ({}).

*Frozenset: An Immutable Set Type*

Sets are mutable—you can add and remove elements, but set elements must be immutable. Therefore, a set cannot have other sets as elements. A frozenset is an immutable set—it cannot be modified after you create it, so a set can contain frozensets as elements. The built-in function frozenset creates a frozenset from any iterable.

**1.1.2 Comparing Sets**

Various operators and methods can be used to compare sets. The following sets contain the same values, so == returns True and != returns False.

In [ ]:
{1, 3, 5} == {3, 5, 1}

True

In [ ]:
{1, 3, 5} != {3, 5, 1}

False

The < operator tests whether the set to its left is a proper subset of the one to its right—that is, all the elements in the left operand are in the right operand, and the sets are not equal:

In [ ]:
{1, 3, 5} < {3, 5, 1}

False

In [ ]:
{1, 3, 5} < {7, 3, 5, 1}

True

The <= operator tests whether the set to its left is an improper subset of the one to its right—that is, all the elements in the left operand are in the right operand, and the sets might be equal:

In [ ]:
{1, 3, 5} <= {3, 5, 1}

True

In [ ]:
{1, 3} <= {3, 5, 1}

True

You may also check for an improper subset with the set method issubset:

In [ ]:
{1, 3, 5}.issubset({3, 5, 1})

True

In [ ]:
{1, 2}.issubset({3, 5, 1})

False

The > operator tests whether the set to its left is a proper superset of the one to its right—that is, all the elements in the right operand are in the left operand, and the left operand has more elements:

In [ ]:
{1, 3, 5} > {3, 5, 1}

False

In [ ]:
{1, 3, 5, 7} > {3, 5, 1}

True

The >= operator tests whether the set to its left is an improper superset of the one to its right—that is, all the elements in the right operand are in the left operand, and the sets might be equal:

In [ ]:
{1, 3, 5} >= {3, 5, 1}

True

In [ ]:
{1,  5} >= {3}

False

In [ ]:
{1, 3} >= {3, 1, 7}

False

You may also check for an improper superset with the set method issuperset:

In [ ]:
{1, 3, 5}.issuperset({3, 5, 1})

True

In [ ]:
{1, 3, 5}.issuperset({3, 2})

False

The argument to issubset or issuperset can be any iterable. When either of these methods receives a non-set iterable argument, it first converts the iterable to a set, then performs the operation.

**1.1.3 Mathematical Set Operations**

This section presents the set type’s mathematical operators |, &, - and ^ and the corresponding methods.

*Union*

The union of two sets is a set consisting of all the unique elements from both sets. You can calculate the union with the | operator or with the set type’s union method:

In [ ]:
{1, 3, 5} | {2, 3, 4}

{1, 2, 3, 4, 5}

In [ ]:
{1, 3, 5}.union([20, 20, 3, 40, 40])

{1, 3, 5, 20, 40}

The operands of the binary set operators, like |, must both be sets. The corresponding set methods may receive any iterable object as an argument—we passed a list. When a mathematical set method receives a non-set iterable argument, it first converts the iterable to a set, then applies the mathematical operation. Again, though the new sets’ string representations show the values in ascending order, you should not write code that depends on this.

*Intersection*

The intersection of two sets is a set consisting of all the unique elements that the two sets have in common. You can calculate the intersection with the & operator or with the set type’s intersection method:

In [ ]:
{1, 3, 5} & {2, 3, 4}

{3}

In [ ]:
{1, 3, 5}.intersection([1, 2, 2, 3, 3, 4, 4])

{1, 3}

*Difference*

The difference between two sets is a set consisting of the elements in the left operand that are not in the right operand. You can calculate the difference with the - operator or with the set type’s difference method:

In [ ]:
{1, 3, 5} - {2, 3, 4}

{1, 5}

In [ ]:
{1, 3, 5, 7}.difference([2, 2, 3, 3, 4, 4])

{1, 5, 7}

*Symmetric Difference*

The symmetric difference between two sets is a set consisting of the elements of both sets that are not in common with one another. You can calculate the symmetric difference with the ^ operator or with the set type’s symmetric_difference method:

In [ ]:
{1, 3, 5} ^ {2, 3, 4}

{1, 2, 4, 5}

In [ ]:
{1, 3, 5, 7}.symmetric_difference([2, 2, 3, 3, 4, 4])

{1, 2, 4, 5, 7}

*Disjoint*

Two sets are disjoint if they do not have any common elements. You can determine this with the set type’s isdisjoint method:

In [ ]:
{1, 3, 5}.isdisjoint({2, 4, 6})

True

In [ ]:
{1, 3, 5}.isdisjoint({4, 6, 1})

False

**1.1.4 Mutable Set Operators and Methods**

The operators and methods presented in the preceding section each result in a new set. Here we discuss operators and methods that modify an existing set.

*Mutable Mathematical Set Operations*

Like operator |, union augmented assignment |= performs a set union operation, but |= modifies its left operand:

In [ ]:
numbers = {1, 3, 5}

numbers |= {2, 3, 4}

numbers

{1, 2, 3, 4, 5}

Similarly, the set type’s update method performs a union operation modifying the set on which it’s called—the argument can be any iterable:

In [ ]:
numbers.update(range(10))

numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

The other mutable set methods are:

intersection augmented assignment &= 

difference augmented assignment -= 

symmetric difference augmented assignment ^=

and their corresponding methods with iterable arguments are:

intersection_update 

difference_update 

symmetric_difference_update

*Methods for Adding and Removing Elements*

Set method add inserts its argument if the argument is not already in the set; otherwise, the set remains unchanged:

In [ ]:
numbers.add(17)

numbers.add(3)

numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

Set method remove removes its argument from the set—a KeyError occurs if the value is not in the set:

In [ ]:
numbers.remove(3)

numbers

{0, 1, 2, 4, 5, 6, 7, 8, 9, 17}

In [ ]:
numbers.remove(100)
numbers

KeyError: ignored

In [ ]:
numbers.discard(100)

Method discard also removes its argument from the set but does not cause an exception if the value is not in the set.

You also can remove an arbitrary set element and return it with pop, but sets are unordered, so you do not know which element will be returned:

In [ ]:
numbers.pop()

0

In [ ]:
numbers

{1, 2, 4, 5, 6, 7, 8, 9, 17}

A KeyError occurs if the set is empty when you call pop.

Finally, method clear empties the set on which it’s called:

In [ ]:
numbers.clear()

numbers

set()

**1.1.5 Set Comprehensions**

Like dictionary comprehensions, you define set comprehensions in curly braces. Let’s create a new set containing only the unique even values in the list numbers:

In [ ]:
numbers = [1, 2, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10, 10]

evens = {item for item in numbers if item % 2 == 0}

evens

{2, 4, 6, 8, 10}