<a href="https://colab.research.google.com/github/SinghReena/MachineLearning/blob/master/Class_10_(Tuples).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.1 Tuples**

Tuples are immutable and typically store heterogeneous data, but the data can be homogeneous. A tuple’s length is its number of elements and cannot change during program execution.

*Creating Tuples*

To create an empty tuple, use empty parentheses:

In [ ]:
student_tuple = () 
student_tuple

()

In [ ]:
len(student_tuple)

0

You can pack a tuple by separating its values with commas:

In [ ]:
student_tuple = 'John', 'Green', 3.3

student_tuple

('John', 'Green', 3.3)

In [ ]:
len(student_tuple)

3

When you output a tuple, Python always displays its contents in parentheses. You may surround a tuple’s comma-separated list of values with optional parentheses:

In [ ]:
another_student_tuple = ('Mary', 'Red', 3.3)

another_student_tuple

('Mary', 'Red', 3.3)

The following code creates a one-element tuple:

In [ ]:
a_singleton_tuple = ('red',) # note the comma 

a_singleton_tuple

('red',)

The comma (,) that follows the string 'red' identifies a_singleton_tuple as a tuple—the parentheses are optional. If the comma were omitted, the parentheses would be redundant, and a_singleton_tuple would simply refer to the string 'red' rather than a tuple.

*Accessing Tuple Elements*

A tuple’s elements, though related, are often of multiple types. Usually, you do not iterate over them. Rather, you access each individually. Like list indices, tuple indices start at 0. The following code creates time_tuple representing an hour, minute and second, displays the tuple, then uses its elements to calculate the number of seconds since midnight—note that we perform a different operation with each value in the tuple:

In [ ]:
time_tuple = (9, 16, 1)

print(time_tuple) 

time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

(9, 16, 1)

33361

Assigning a value to a tuple element causes a TypeError.

*Adding Items to a String or Tuple*

As with lists, the += augmented assignment statement can be used with strings and tuples, even though they’re immutable. In the following code, after the two assignments, tuple1 and tuple2 refer to the same tuple object:

In [ ]:
tuple1 = (10, 20, 30)

tuple2 = tuple1

print(tuple2)
print(tuple1)
print(id(tuple1))
print(id(tuple2))

(10, 20, 30)
(10, 20, 30)
139934102119680
139934102119680

Concatenating the tuple (40, 50) to tuple1 creates a new tuple, then assigns a reference to it to the variable tuple1—tuple2 still refers to the original tuple:

In [ ]:
print(id(tuple1))

tuple1 += (40, 50)

print(tuple1)

print(tuple2)

print(id(tuple1))
print(id(tuple2))

139934150542160
(10, 20, 30, 40, 50, 40, 50)
(10, 20, 30)
139934102454928
139934102119680

For a string or tuple, the item to the right of += must be a string or tuple, respectively—mixing types causes a TypeError.

*Appending Tuples to Lists*

You can use += to append a tuple to a list:

In [ ]:
numbers = [1, 2, 3, 4, 5]

numbers += (6, 7)

numbers

[1, 2, 3, 4, 5, 6, 7]

*Tuples May Contain Mutable Objects*

Let’s create a student_tuple with a first name, last name and list of grades:

In [ ]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])

student_tuple

('Amanda', 'Blue', [98, 75, 87])

Even though the tuple is immutable, its list element is mutable:

In [ ]:
student_tuple[2][1] = 85

student_tuple

('Amanda', 'Blue', [98, 85, 87])

In the double-subscripted name student_tuple[2][1], Python views student_tuple[2] as the element of the tuple containing the list [98, 75, 87], then uses [1] to access the list element containing 75. The assignment in snippet [24] replaces that grade with 85.

**1.2  Unpacking Sequences**

You can unpack any sequence’s elements by assigning the sequence to a comma-separated list of variables. A ValueError occurs if the number of variables to the left of the assignment symbol is not identical to the number of elements in the sequence on the right:

In [ ]:
student_tuple = ('Amanda', [98, 85, 87])

first_name, grades = student_tuple

print(first_name)

print(grades)

Amanda
[98, 85, 87]

The following code unpacks a string, a list and a sequence produced by range:

In [ ]:
first, second = 'hi'

print(f'{first} {second}')

number1, number2, number3 = [2, 3, 5]

print(f'{number1} {number2} {number3}')

number1, number2, number3 = range(10, 40, 10)

print(f'{number1} {number2} {number3}')

h i
2 3 5
10 20 30

*Swapping Values Via Packing and Unpacking*

You can swap two variables’ values using sequence packing and unpacking:

In [ ]:
number1 = 99

number2 = 22

number1, number2 = (number2, number1)

print(f'number1 = {number1}; number2 = {number2}')

number1 = 22; number2 = 99

*Accessing Indices and Values Safely with Built-in Function enumerate*

Earlier, we called range to produce a sequence of index values, then accessed list elements in a for loop using the index values and the subscription operator ([]). This is error-prone because you could pass the wrong arguments to range. If any value produced by range is an out-of-bounds index, using it as an index causes an IndexError. 


The preferred mechanism for accessing an element’s index and value is the built-in function enumerate. This function receives an iterable and creates an iterator that, for each element, returns a tuple containing the element’s index and value. The following code uses the built-in function list to create a list containing enumerate’s results:

In [ ]:
colors = ['red', 'orange', 'yellow']

list(enumerate(colors))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

Similarly the built-in function tuple creates a tuple from a sequence:

In [ ]:
tuple(enumerate(colors))

((0, 'red'), (1, 'orange'), (2, 'yellow'))

The following for loop unpacks each tuple returned by enumerate into the variables index and value and displays them:

In [ ]:
for index, value in enumerate(colors): 
   print(f'{index}: {value}')

0: red
1: orange
2: yellow

*Creating a Primitive Bar Chart*

A primitive bar chart where each bar’s length is made of asterisks (*) and is proportional to the list’s corresponding element value. We use the function enumerate to access the list’s indices and values safely.

In [ ]:
"""Displaying a bar chart"""

numbers = [19, 3, 15, 7, 11]

print('\nCreating a bar chart from numbers:')

print(f'Index{"Value":>8} Bar')

for index, value in enumerate(numbers):
  print(f'{index:>5}{value:>8} {"*" * value}')

Creating a bar chart from numbers:
Index   Value Bar
    0      19 *******************
    1       3 ***
    2      15 ***************
    3       7 *******
    4      11 ***********

The for statement uses enumerate to get each element’s index and value, then displays a formatted line containing the index, the element value and the corresponding bar of asterisks. The expression "*" * value creates a string consisting of value asterisks. When used with a sequence, the multiplication operator (*) repeats the sequence—in this case, the string "*"—value times.