<a href="https://colab.research.google.com/github/SinghReena/MachineLearning/blob/master/Class_6_(while_loop_%2C_for_loop%2C_Numbers%2C_random_module%2C_randint()%2C_randrange().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#To find the sum of natural numbers upto n where n is provided by the user

#num=6
num=int(input("Enter the number"))

if num < 0:
  print("Enter only positive number")
else:
  sum=0
  while(num > 0):
    sum=sum+num
    num=num-1
  print("The sum is",sum)

Enter the number21
The sum is 231

Sum of even numbers from 1 to 10

In [ ]:
sum=0
for number in range(1,11):
  if number % 2 == 0:
    sum=sum+number
print(sum)

30

Sum of odd numbers from 1 to 10

In [ ]:
sum=0
for number in range(1,11):
  if number % 2 != 0:
    sum=sum+number
print(sum)

25

Find out the factorial of a number

In [ ]:
number=5
factorial=1

i=1
while(i<=number):
  factorial=i*factorial
  i=i+1
print("The factorial of number 5 is ",factorial)

The factorial of number 5 is  120

Calculate the area of circle from radius 1 to 10

In [ ]:
r = 10
while r !=0:
  radius = 3.14*r*r
  r= r-1
  print(radius)

314.0
254.34
200.96
153.86
113.03999999999999
78.5
50.24
28.259999999999998
12.56
3.14

In [ ]:
pi = 3.14
for i in range(1,11):
  area = round(pi *i *i,2)
  print("The area of radius ", i ,"is ",area)

The area of radius  1 is  3.14
The area of radius  2 is  12.56
The area of radius  3 is  28.26
The area of radius  4 is  50.24
The area of radius  5 is  78.5
The area of radius  6 is  113.04
The area of radius  7 is  153.86
The area of radius  8 is  200.96
The area of radius  9 is  254.34
The area of radius  10 is  314.0

In [ ]:
#Types of numbers
x=1
y=2.6
z=1j
str="Reena"
print(type(x))
print(type(y))
print(type(z))
print(type(str))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [ ]:
x=1
y=456342345
z=-456
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
x=3+5j
y=5j
z=-5j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
x=1
y=6.7
z=2j

#convert from int to float
x=float(x)
print(x)

#convert from float to int
y=int(y)
print(y)

#convert from int to complex
x=complex(x)
print(x)

1.0
6
(1+0j)

randint()

In [ ]:
import random

number=random.randint(0,10)
print(number)

5

randrange()

In [ ]:
import random
number=random.randrange(0,10,3)
print(number)

0