<a href="https://colab.research.google.com/github/SinghReena/MachineLearning/blob/master/Python_regex_exercise_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercises

Remember regex symbols:

* `\d`: digit
* `\w`: word character
* `\W`: non-word character
* `\s`: whitespace
* `.` : match any character

Repeats
* `+` one or more
* `?` zero or one
* `*` zero or more
* `{}` for range of occurrences

In [ ]:
import re

In [ ]:
s = 'This is 2021 Data Science batch 1.'

### 1.  Find the number in the string.

In [ ]:
re.findall(r'\d+',s)

['2021', '1']

 ### 2. Return the words of a given string `s`

 Hint: How do we identify "words"? A word has 'one or more' 'word characters'.

In [ ]:
re.findall(r'\w+',s)

['This', 'is', '2021', 'Data', 'Science', 'batch', '1']

### 3. Find the first word of the string.

Hint: "First" word. (we got words in the previous exercise).

In [ ]:
re.findall(r'^\w+',s)

['This']

### 4.  Find the last word of the string.

Hint: "last" word.

In [ ]:
re.findall(r'\w+\.$',s)

['1.']

### 5. Return the first two character of each word

Hint: First find the pattern for two characters.  Then use "\b" to specify that we want the first characters after a whitespace.

In [ ]:
re.findall(r'\b\w{2}',s)

['Th', 'is', '20', 'Da', 'Sc', 'ba']

In [ ]:
re.findall(r'\b\w\w',s)

['Th', 'is', '20', 'Da', 'Sc', 'ba']

### 6.  Write three regular expressions to extract 
1. user name 
2. domain name and 
3. top-level type domain for the email ids: 
`'abc.test1@gmail.com, xyz+user@test.uk, director@fuhsdadultschool.org'`

The three patterns should give

```['abc.test1', 'xyz+user', 'director']```

```['gmail', 'test', 'fuhsdadultschool']```

```['com', 'uk', 'org']```


Hints: 
1. what are the separators for id? 
2. what are the separators for domain name and top-level domain.
3. Notice that the user id can have `.` and `+` special characters.

In [ ]:
email_ids =  'abc.test1@gmail.com, xyz+user@test.co.uk, director@fuhsdadultschool.org'

In [ ]:
# find all email addresses separately.
re.findall(r'[\w\.\+]+\@\w+\.[\w.]+',email_ids)

['abc.test1@gmail.com', 'xyz+user@test.co.uk', 'director@fuhsdadultschool.org']

In [ ]:
re.findall(r'([\w\.\+]+)\@',email_ids)

['abc.test1', 'xyz+user', 'director']

In [ ]:
re.findall(r'@(\w+).',email_ids)

['gmail', 'test', 'fuhsdadultschool']

In [ ]:
re.findall(r'@\w+\.([\w+.]+)',email_ids)

['com', 'co.uk', 'org']

In [ ]:
re.findall(r'@\w+(\.[\w+.]+)',email_ids)

['.com', '.co.uk', '.org']

### 7: Find dates in given string 

How do we extract and print only the year ?

Hint: 
1. Use “\d” to extract digit.
2. Use  parenthesis “()” to capture only a part.

In [ ]:
people = "Peter Pan 800-374-5347 12-05-2017, Harry Potter 480-266-4532 11-11-2011, Wiz oz 510-699-9945 12-01-2020"

In [ ]:
re.findall(r'\d{2}-\d{2}-(\d{4})',people)

['2017', '2011', '2020']

### 8. Return all words of a string that start with vowel in `s`

No hints at this point :)

In [ ]:

s = 'This is 2021 Data Science batch 1.'
re.findall(r'[aeiouAEIOU]\w+',s)

['is', 'is', 'ata', 'ience', 'atch']

In [ ]:
re.findall(r'\b[aeiouAEIOU]\w+',s)

['is']