<a href="https://colab.research.google.com/github/SinghReena/MachineLearning/blob/master/Series_Quiz_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd
 import numpy as np

In [ ]:
# 1. What is the type for the elements in 's'?
s = pd.Series( [1, 2/2, 3] )
s
# float or float64

0    1.0
1    1.0
2    3.0
dtype: float64

In [ ]:
#2. What does s.index return?
s = pd.Series({'a': (1,2), 'b': (3,4), 'c': (5,6) }) 
s.index

Index(['a', 'b', 'c'], dtype='object')

In [ ]:
# 3. What does s.values return? 
s = pd.Series({'a': (1,2), 'b': (3,4), 'c': (5,6) })  

s.values

# Notice that this the output is a numpy array of tuples.

array([(1, 2), (3, 4), (5, 6)], dtype=object)

In [ ]:
# 4. What is  `type(s.values)`? Note the question is not asking for the types of the elements stored in s.values.  
# The question is asking for the representation of s.values

s = pd.Series({'a': (1,2), 'b': (3,4), 'c': (5,6) }) 
type(s.values)

numpy.ndarray

In [ ]:
# 5.  It is ok to have non-unique keys, unlike in a dictionary.
s = pd.Series({'a': 1, 'b': 2, 'c': 3, 'c':4 }) 
s['c']
#

4

In [ ]:
# 6. All the following are equivalent

s = pd.Series({'a': 1, 'b': 2, 'c': 3, 'c':4 })
print(s.iloc[1])
print(s['b'])
print(s[1])
print(s[ s.index[1] ])
print(s.loc['b'])

2
2
2
2
2

In [ ]:
s.iloc[1]
s['b']
s[1]
s[ s.index[1] ]
s.loc['b']

In [ ]:
# 7. this is called filtering.  We get a boolean Series of 100 elements.
numbers = pd.Series(np.arange(100))
numbers > 10

0     False
1     False
2     False
3     False
4     False
      ...
95     True
96     True
97     True
98     True
99     True
Length: 100, dtype: bool

In [ ]:
# 8. Write one line code so that numbers will contain the series object that has
# values [100, 101, ..., 199]?  
# Do not recreate a new series object, modify the existing one.
numbers = pd.Series(np.arange(100)); 
numbers += 100
numbers

# Using numbers + 10 gives us a new Series, the question asks for modifying it in-place.

0     100
1     101
2     102
3     103
4     104
     ...
95    195
96    196
97    197
98    198
99    199
Length: 100, dtype: int64