<a href="https://colab.research.google.com/github/SinghReena/MachineLearning/blob/master/SF_building_permit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hackathon

Welcome to the DataScience class hackathon. We will use the SF building permits dataset. Please run the first couple of cells in this colab to load the data to a dataframe.  I have shown what the data looks like in some sample code snippets.

Try to frame some questions and answer them.  Feel free to use any of the colabs we have developed in the class. You can also search the web for help with pandas functions. But please do not search for or reuse the code that others might have used for the same dataset. Your ideas and approach are important.

Spend the first 10 minutes or so to read through the code snippets to understand the dataset. We will work for 90 minutes on the dataset and then use the remaining time to present the work to the others.

## Background

A Building permit is needed when there is a major structural or mechanical change to the building. Some general information on permits is here:
https://www.thespruce.com/what-is-a-building-permit-1398344

The SF Department of Building Inspection https://sfdbi.org/ provides permits for building permits. SF's data portal lists over a million entries for building permits https://data.sfgov.org/Housing-and-Buildings/Building-Permits/i98e-djp9/data.  This is a smaller dataset curated by someone.

In [ ]:
from io import BytesIO
from zipfile import ZipFile
import pandas as pd
import urllib.request
import re
from google.colab import files

In [ ]:
data_address = "https://storage.googleapis.com/kaggle-data-sets/16432/21688/compressed/Building_Permits.csv.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20210311%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20210311T230958Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=2753efef7e664aef21684c6eff1cf458babd7c69ba236e966060e1d7707d39bc066ed863ba9cde4b27e7eb7e9356d92809f65ddeb7611fc5da4dd74a0c3d3caaae121afe5549c90b3ea7afd18a18011cbbd45774a1b2f964f414a1fe9b616941135fbfebd221416ffe436de22f249ac0477732d777767f155c2bad56ed3f0e85f61e1ccd5d8ca948a351ebbce90675ea67e7efa6ae227afdd83471efc8c896295d324ba3e9964b59555e72e3aeb2670dd00abf3fc84a7cdca14f5e49295b24416001e053292485ecf3b458957f6046229493761221746b719e0d1e9aaab4b59a4d9a569028582bd86725cab351a9fb12ae5672f9b7bedb2e689ec9454f53d0e5"
url = urllib.request.urlopen(data_address)
with ZipFile(BytesIO(url.read())) as csv_zip_file:
    for csv_file in csv_zip_file.namelist():
      df = pd.read_csv(csv_zip_file.open(csv_file))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (22,32) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Data exploration

In [ ]:
df.head()

  Permit Number  ...      Record ID
0  201505065519  ...  1380611233945
1  201604195146  ...  1420164406718
2  201605278609  ...  1424856504716
3  201611072166  ...  1443574295566
4  201611283529  ...   144548169992

[5 rows x 43 columns]

In [ ]:
df.shape

(198900, 43)

### Null entries

In [ ]:
df.isnull().sum()

Permit Number                                  0
Permit Type                                    0
Permit Type Definition                         0
Permit Creation Date                           0
Block                                          0
Lot                                            0
Street Number                                  0
Street Number Suffix                      196684
Street Name                                    0
Street Suffix                               2768
Unit                                      169421
Unit Suffix                               196939
Description                                  290
Current Status                                 0
Current Status Date                            0
Filed Date                                     0
Issued Date                                14940
Completed Date                            101709
First Construction Document Date           14946
Structural Notification                   191978
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Voluntary Soft-Story Retrofit             198865
Fire Only Permit                          180073
Permit Expiration Date                     51880
Estimated Cost                             38066
Revised Cost                                6066
Existing Use                               41114
Existing Units                             51538
Proposed Use                               42439
Proposed Units                             50911
Plansets                                   37309
TIDF Compliance                           198898
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Site Permit                               193541
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Zipcode                                     1716
Location                                    1700
Record ID                                      0
dtype: int64

### Permit types

In [ ]:
df["Permit Type Definition"].unique()

array(['sign - erect', 'additions alterations or repairs',
       'otc alterations permit', 'demolitions', 'wall or painted sign',
       'new construction', 'grade or quarry or fill or excavate',
       'new construction wood frame'], dtype=object)

In [ ]:
df["Permit Type Definition"].nunique()

8

In [ ]:
df["Permit Type"].unique()

array([4, 3, 8, 6, 7, 1, 5, 2])

In [ ]:
df["Permit Type"].nunique()

8

In [ ]:
# percentage of each type of permit

df["Permit Type Definition"].value_counts().to_frame().apply(lambda x: 100 * x / float(x.sum()))

                                     Permit Type Definition
otc alterations permit                            89.916541
additions alterations or repairs                   7.372046
sign - erect                                       1.453997
new construction wood frame                        0.477627
demolitions                                        0.301659
wall or painted sign                               0.256913
new construction                                   0.175465
grade or quarry or fill or excavate                0.045752

### Existing and Porposed Use

In [ ]:
df["Existing Use"].value_counts().to_frame()

                      Existing Use
1 family dwelling            46766
apartments                   40798
office                       24616
2 family dwelling            20987
retail sales                  6910
...                            ...
temple                           2
dairies/dairy equip.             1
orphanage                        1
roofing materials                1
child care                       1

[93 rows x 1 columns]

### Neighborhoods

In [ ]:
df["Neighborhoods - Analysis Boundaries"].value_counts().to_frame()

                                Neighborhoods - Analysis Boundaries
Financial District/South Beach                                21816
Mission                                                       14681
Sunset/Parkside                                               10207
West of Twin Peaks                                             8739
Castro/Upper Market                                            8527
Pacific Heights                                                8508
Marina                                                         8244
Outer Richmond                                                 7854
Noe Valley                                                     7844
South of Market                                                7572
Bernal Heights                                                 6067
Nob Hill                                                       6009
Haight Ashbury                                                 5798
Inner Sunset                                                   5776
Bayview Hunters Point                                          5669
Russian Hill                                                   5495
Hayes Valley                                                   5489
Tenderloin                                                     4783
Inner Richmond                                                 4458
Potrero Hill                                                   4293
Presidio Heights                                               4084
North Beach                                                    4054
Western Addition                                               3867
Chinatown                                                      3765
Lone Mountain/USF                                              3358
Excelsior                                                      3072
Oceanview/Merced/Ingleside                                     2654
Glen Park                                                      2637
Mission Bay                                                    2287
Outer Mission                                                  2242
Twin Peaks                                                     1702
Portola                                                        1433
Lakeshore                                                      1308
Seacliff                                                        992
Visitacion Valley                                               900
Japantown                                                       700
Treasure Island                                                  81
Golden Gate Park                                                 64
Presidio                                                         51
Lincoln Park                                                     49
McLaren Park                                                     46

### Dates

In [ ]:
import datetime as dt

In [ ]:
pd.to_datetime(df["Filed Date"]).dt.to_period("Y")

0         2015
1         2016
2         2016
3         2016
4         2016
          ...
198895    2017
198896    2017
198897    2017
198898    2017
198899    2017
Name: Filed Date, Length: 198900, dtype: period[A-DEC]

### One kind of Permit type

In [ ]:
df[df["Permit Type Definition"] == "new construction"]

       Permit Number  ...      Record ID
83      201712207002  ...  1491353177117
176     201707242729  ...  1471623167863
193     201708023634  ...   147295789456
481     201712297625  ...  1492137510460
3153    201301319232  ...  1294896156329
...              ...  ...            ...
193445  201607283565  ...  1492391510469
197102  201802080768  ...   149646478365
197441  201802121045  ...   149683770127
198019  201802161503  ...  1497450482245
198451  201802211851  ...  1497900503272

[349 rows x 43 columns]

## Your ideas

In [ ]:
import datetime
from datetime import datetime
import math
import pandas as pd
import datetime as dt

In [ ]:
start=df['Permit Creation Date']
end=df['Completed Date']

In [ ]:
start.head()

0    05/06/2015
1    04/19/2016
2    05/27/2016
3    11/07/2016
4    11/28/2016
Name: Permit Creation Date, dtype: object

In [ ]:
pd.to_datetime(start)

0        2015-05-06
1        2016-04-19
2        2016-05-27
3        2016-11-07
4        2016-11-28
            ...
198895   2017-12-05
198896   2017-12-05
198897   2017-12-06
198898   2017-12-06
198899   2017-12-07
Name: Permit Creation Date, Length: 198900, dtype: datetime64[ns]